/* PHP-SRePS Main Style */

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin-left: 180px;
  margin-right: 30px;
}

a {
  color:#7DCDF0;
}

#loginBody {
  margin-left: 0;
  margin-right: 0;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  border-radius: 8px;
  background-color: #186985;
  padding: 0.75em;
  color: white;
  border-color: white;
  margin-top: 0.5em;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #d1d1d1;
  overflow-x: hidden;
  width: 150px;
  text-align: center;
  color: black;
}

.sidebar a {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.loginBox {
  padding: 5% 2em;
  margin: auto;
  width: 25%;
  border: 3px solid black;
  border-radius: 12px;
}

#loginTitle {
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-color: #bbb
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

table td th {
  padding: 8px;
  border: 1px solid #ddd;
}

table th {
  background-color: #008CBA;
  color: white;
  font-weight: normal;
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

fieldset {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.error {
  color: #d11d1d;
}
