/* PHP-SRePS Main Style */

* {
  font-family: helvetica, sans-serif;
}

body {
  margin-left: 180px;
  margin-right: 30px;
}

#loginBody {
  margin-left: 0;
  margin-right: 0;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  border-radius: 8px;
  background-color: #008CBA;
  padding: 1em 1em;
  color: white;
  border-color: white;
}

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #d1d1d1;
  overflow-x: hidden;
  width: 150px;
  text-align: center;
  color: black;
}

.sidebar a {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  font-size: 1.3em;
  color: black;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.loginBox {
  padding: 5% 2em;
  margin: auto;
  width: 25%;
  border: 3px solid black;
  border-radius: 12px;
}

#loginTitle {
  text-align: center;
}
